<head>
    <title>
        Monitor
    </title>
</head>
<body>
    <h1>WTF yo</h1>
    <p>yooo</p>
    <div id="cams"></div>
</body>

<script>
    var getImages = function() {
        console.log("getting images...");
        try {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', "https://homeai.ml:5000/cams", false);
            xhr.send();

            //xhr.onreadystatechange = processRequest;

            //console.log("yoo");
            if (xhr.status == 200) {
                var response = JSON.parse(xhr.responseText);
                //console.log(response);

                var imgs = "";
                for (var i = 0; i < response.length; i++) {
                    imgs += '<img src="data:image/png;base64,' + response[i]["img"] + '"/>';
                }
                console.log("set");
                document.getElementById("cams").innerHTML = imgs;
            }
        } catch(err) {
    }
            
        setTimeout(getImages, 1);
    }

    window.onload = getImages;
</script>
