<!DOCTYPE html>
<html lang="en">
<head>
<title>Landing Page</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
    	<div class="row">
                <h1>Landing Page (Client Side)</h1>
            	<a href="./upload">upload</a>: Access webcam and send images
            	<br>
            	<a href="./shell">shell</a>: Send a shell command
    	</div>
    </div>
</body>
