<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="upload.css">
</head>
<body>
        <h2>Video</h2>
        <video id="camera" autoplay></video>
        <button id="start">start</button>
        <h2>Uploaded Image</h2>
        <canvas id="canvas"></canvas>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="upload.js"></script>
</body>
</html>
